
@import url("//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css");
@import url('https://fonts.googleapis.com/css?family=Cinzel'); //font-family: 'Cinzel',serif;
@import url('https://fonts.googleapis.com/css?family=Noto+Sans'); //font-family: 'Noto Sans', sans-serif;
//@import url('https://fonts.googleapis.com/css?family=Cantarell'); font-family: 'Cantarell', sans-serif;
@color-black:#000;
@color-main:#2ef7b2;
@color-white:#fff;
@color-red:#f00;
@color-babypink:#fbe1e8;
@color-pink:#f78297;
@color-strawberry:#f49ac1;
@color-mainpink:#D184B7;
@color-fontblue:#2d7dac;
@color-skyblue:#5eb9e6;
@color-berlinyellow:#fc0;
@color-line:#ccc;
@color-purple:#876cbf;
@color-darkgold:#997d3f;
@color-fonthover:#146348;
@color-lemon:#ffff7d;
@color-gray:#221f1f; //logo backgroung color

body,html,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,p{margin: 0; padding: 0; text-decoration: none;}
body{font-family: 'Nanum Gothic Coding', monospace;}
ul,ol,li,tr,td{list-style: none;}
a{text-decoration: none;}

.wrap{
  width: 100%;
  height: 3483px;

  .logo{
      font-family: 'Cinzel',serif;
      color: @color-white;
      text-transform: uppercase;
      font-weight: lighter;
      display: block;
      width: 124px;
      margin: 0 auto;
      letter-spacing: 0.18em;
      a{
        color: @color-white
      }
  }

  h1{font-family: 'Noto Sans', sans-serif;}

  .gnb{
    .header{
      height: 100px;
      background: @color-black;
      border-bottom: 1px #262626 solid;

      .menuBtn{
        position: relative;
        top: 19px;
        left: 19px;
      }

      .searchBtn{
          float: right;
          position: relative;
          top: -45px;
          right: 19px;
      }
    } //header close

  .menu{
    height: 50px;
    background: @color-black;
    ul{
      margin: 0 auto;
      width: 1600px;
      text-align: center;
      line-height: 50px;
      li{
        display: block;
        float: left;
        width: 200px;
        .en{
          letter-spacing: 0.18em;
        }
        a{
          color: #999;
          font-size: 14px;
        }
      }
    }

    ul>li>ul{
      width: 100%;
      //outline: 1px #00f solid;
      //height: 649px;
      z-index: 999;
      position: relative;
      li{padding-top: 10px; line-height: 35px;}
      li>a{font-size: 13px;}
    }
  } //menu close
} //gnb close

.contents{

  section .h1{
    border: 1px #Ff0 solid;
    font-size: 38px;
    display: inline-block;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  section.main{
    height: 650px;
    background-color: #f2f2f2;
  }

  section.news{
    width: 1600px;
    margin: 0 auto;
    margin-top: 50px;

    .calendar{
      width: 1600px;
      height: 200px;
      outline: 1px @color-line solid;
      margin-bottom: 50px;
    }

      .box{
        width: 1600px;
        height: 930px;
        margin: 0 auto;

        .paragraph{
          border: 1px #f00 solid;
          margin: 20px;

          h1{border: 1px #f0f solid;
            letter-spacing: 0.09em;
          }
        }

        .topic{
          width: 450px;
          height: 100%;
          margin: 0 auto;
          float: left;
          display: grid;
        }

        .first{
          outline: 1px @color-line solid;
          h1{font-family: 'Cinzel',serif; margin: 0;}
        }

        .second{
          margin: 0 125px;
          outline: 1px @color-line solid;
          h1{font-family: 'Cinzel',serif; margin: 0;}
        }

        .article{
          width: 450px;
          height: 460px;
        }

        .article>span{
          border: 1px #00f solid;
          margin-left: 20px;
          text-align: center;
          font-size: 12px;
          font-weight: 600;
        }

        .img{
          width: 450px;
          height: 450px;
        }

        img{
          width: 100%;
        }

        .third{
          h1{margin: 0;}
          .rental{
            margin-top: 30px;
          }
        }

        .third>div{
          outline: 1px @color-line solid;
          width: 450px;
          height: 450px;
        }

        .third .paragraph .infotitle{
          border: 1px #00f solid;
          font-size: 12px;
          font-weight: 600;
          margin-bottom: 20px;
        }

      } //box close
    } //news close

    section.sns{
      width: 100%;
      margin-top: 50px;
      .social{
        width: 1600px;
        height: 474px;
        margin: 0 auto;

          li{
            float: left;
            width: 790px;
            height: 474px;

              a>img{
                width: 40px;
                height: 50px;
                float: right;
              }

              .blogimg{
                background-color: @color-strawberry;
                outline: 1px @color-line solid;
                height: 400px;
              }

              .snsimg{
                outline: 1px #00F solid;
              }

              .snsimg ul>li{
                outline: 1px #000 solid;
                width: 197.5px;
                height: 200px;
              }

          }

        .media{
          margin-left: 20px;
        }

      } //social
    } //section.sns close

    section.video{
      outline: 1px #f0f solid;
      margin: 0 auto;
      margin-top: 50px;

      .videoimg{
        width: 1600px;
        margin: 0 auto;
        height: 200px;

        img{width: 100%; height: 100%;}
      } //videoimg close

      .videoaline{
        width: 1600px;
        margin: 0 auto;

        a>img{
          width: 40px;
          height: 50px;
          float: right;
        }
      }

    } //section.video close
  } //contents close

  .footer{
    height: 329px;
    background: @color-black;
    margin-top: 200px;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    border: 1px #f00 solid;

    .footerwrap{
      height: 176px;

      .container>div{
        width: 240px;
        height: 73px;
        //outline: 1px #f00 solid;
        float: left;
        margin-top: 20px;
        margin: 45px 15px 0 0;
        line-height: 20px;
      }

      .container p{
        color: #757474;
        font-size: 9px;
      }

      .container {
        width: 1600px;
        margin: 0 auto;;

        .info{width: 349px;}

        span{
        display: inline-block;
        color: @color-white;
        text-transform: uppercase;
        font-weight: normal;
      }

        .name{color: @color-white;}

        .pis{padding-right: 5px; border-right: 1px @color-line solid;  line-height: 8px;}
        .master{font-size: 10px;}
        .local{line-height: 11px; margin-top: 10px;}
        .num{line-height: 11px; margin-top: 30px;}
        .email{
          padding: 14px;
          font-size: .65em;
          width: 129px;
          text-align: center;
          border: 1px @color-white solid;
            a{color: @color-white;}
        }

      .fallow .snsBtngroup{
        margin-top: 26px;
        a{margin: 0 10px 0 0;
          svg{width: 25px;}
        }
      }
      } // container close
    } //footerwrap close

    .footerend{

      .notice{
        width: 1600px;
        margin: 0 auto;
        margin-bottom: 44px;
        span{
        display: block;
        color: @color-white;
        font-size: 10px;
        color: #757474;
        }
    }

      .end{
        border-top: 1px #262626 solid;

        ul{width: 1600px; margin: 0 auto; height: 80px;  line-height: 80px;
          li{color: #757474;  float: left;  font-size: 14px; margin: 0 30px;
          a{color: #757474;}
          }
          .marginfix{margin: 0;}
          .fr{float: right;}
        }
      }
  }

  } //footer close







} //wrap close
