
@import url("//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css");
@import url('https://fonts.googleapis.com/css?family=Cinzel'); //font-family: 'Cinzel',serif;
@import url('https://fonts.googleapis.com/css?family=Noto+Sans'); //font-family: 'Noto Sans', sans-serif;

@color-black:#000;
@color-main:#2ef7b2;
@color-white:#fff;
@color-red:#f00;
@color-babypink:#fbe1e8;
@color-pink:#f78297;
@color-fontblue:#2d7dac;
@color-skyblue:#5eb9e6;
@color-berlinyellow:#fc0;

body,html,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,p{margin: 0; padding: 0; text-decoration: none;}
body{font-family: 'Nanum Gothic Coding', monospace;}
ul,ol,li,tr,td{list-style: none;}
a{text-decoration: none;}

.wrap{width: 100%;}

.header{
  height: 100px;
  background: @color-black;
  border-bottom: 1px #262626 solid;

  .menuBtn{
    position: relative;
    top: 19px;
    left: 19px;
  }

    h1{
      font-family: 'Cinzel',serif;
      color: #999;
      text-transform: uppercase;
      font-weight: lighter;
      display: block;
      width: 124px;
      margin: 0 auto;
      letter-spacing: 0.18em;
      a{
        color: @color-white
      }
    }

    .searchBtn{
      float: right;
      position: relative;
      top: -45px;
      right: 19px;
    }
} //header close

.menu{
  height: 50px;
  background: @color-black;
  ul{
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    line-height: 50px;
    li{
      display: inline-block;
      margin: 0 50px;
      a{
        color: #999;
        font-size: 13px;
      }
    }
  }
}
