
.wrap{
  border: 1px #f00 solid;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;

  .sub_nav{
    outline: 1px #f0f solid;
    width: 220px;
    position: fixed;
    top: 0;
    padding: 40px;
    backface-visibility: hidden;
  }
  .mainContent{
    outline: 1px #00f solid;
    margin-left: 220px;
    padding-top: 40px;
    padding-right: 40px;

    .about_piscis{
      max-width: 878px;
    }
  }


















  } //warp close
