  .main{
    width: 1600px;
    height: 650px;
    background: url(../../image/pic/main.png);
    background-size: cover;
    margin: 0 auto;

    .title{
      width: 600px;
      height: 350px;
      border: 1px #00f solid;

      h1{
        color: @color-purple;
        font-size: 60px;
      }
    }

    span{
      border: 1px #f00 solid;
      display: block;
      color: @color-white;
    }

    .Btn span{
      width: 240px;
      height: 60px;
      color: @color-white;
      background-color: @color-black;
      line-height: 51px;
      text-align: center;
      font-size: 20px;
      border: 1px #000 solid;
      border-radius: 2px;
    }
  } //main close

  .news{

    span{
      display: block;
    }

    .Btn span{
      width: 240px;
      height: 60px;
      color: @color-white;
      background-color: @color-black;
      border-radius: 3px;
      line-height: 51px;
      text-align: center;
      font-size: 20px;
    }

    .rental .paragraph .Btn span{
      width: 120px;
      float: left;
    }

    .rent span{
      border: 1px @color-main solid;
      color: @color-main;
      background-color: @color-white;

    }

    .hall span{
      background-color: @color-main;
      color: @color-fonthover;
      margin-left: 10px;
    }

  } //news close

  section.sns{
    .blogimg{}
  }

  section.video{
    .Btn span{
      display: inline-block;
      width: 240px;
      height: 60px;
      color: #000;
      border: 1px #000 solid;
      border-radius: 3px;
      line-height: 51px;
      text-align: center;
      font-size: 20px;
      position: relative;
      top: -100px;
      left: 1314px;
    }
  }
