
.contents{
  height: 650px;
  background-color: #f2f2f2;

  .main{
    width: 1200px;
    height: 650px;
    background: url(../../image/pic/main.png);
    background-size: cover;
    margin: 0 auto;

    .inform{
      width: 600px;
      height: 350px;
      border: 1px #f00 solid;
    }

    span{
      border: 1px #f00 solid;
      display: block;
      color: @color-white;
    }

    .Btn span{
      width: 240px;
      height: 60px;
      color: @color-white;
      background-color: @color-black;
      line-height: 51px;
      text-align: center;
      font-size: 20px;
    }

  } //section close


} //contents close
