  .main{
    font-family: 'Noto Sans', sans-serif;
    overflow: hidden;
    //width: 1200px;
    //height: 650px;
    background: url(../../image/pic/main.png);
    background-size: cover;
    //margin: 0 auto;
    margin-top: 54px;
    position: relative;

    &::before{
      content: "";
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

    &:hover::after{
      opacity:0.5;
    }
    &::after{
      content: "";
      background-color: #000;
      position: absolute;
      z-index: 10;
      left: 0;
      top: 0;
      right: 0;
      display: block;
      opacity: 0;
      transition: 1s;
      bottom: 0;
    }

    .title{
      display: inline-block;
      text-align: center;
      position: relative;
      z-index: 11;
      vertical-align: middle;

      .workshopTitle{
        color: #fff;
        font-size: 52px;
        width: 930px;
      }

      h1{display: inline-block;}
    }

    .Btn{
      width: 160px;
      height: 60px;
      color: #fff;
      background-color: #000;
      border-radius: 2px;
      line-height: 60px;
      text-align: center;
      font-size: .65em;
      text-transform: uppercase;
      display: inline-block;
      margin-top: 30px;
    }

  } //main close

  .news{

    span{
      display: inline-block;
    }

    .workshopBtn{
      outline: 1px @color-main solid;
      width: 129px;
      height: 60px;
      color: @color-fonthover;
      border-radius: 2px;
      line-height: 60px;
      text-align: center;
      font-size: .65em;
      text-transform: uppercase;
      display: inline-block;
      position: absolute;
      bottom: 30px;
    }

    .performBtn{
      outline: 1px @color-main solid;
      width: 129px;
      height: 60px;
      color: @color-fonthover;
      background-color: @color-main;
      border-radius: 2px;
      line-height: 60px;
      text-align: center;
      font-size: .65em;
      text-transform: uppercase;
      display: inline-block;
      position: absolute;
      bottom: 30px;
    }

    .suportBtn{
      width: 129px;
      height: 60px;
      color: @color-white;
      background-color: @color-black;
      border-radius: 2px;
      line-height: 60px;
      text-align: center;
      font-size: .65em;
      text-transform: uppercase;
      display: inline-block;
      position: absolute;
      bottom: 30px;
    }

    .rentBtn{
      outline: 1px @color-main solid;
      width: 129px;
      height: 60px;
      color: @color-fonthover;
      border-radius: 2px;
      line-height: 60px;
      text-align: center;
      font-size: .65em;
      text-transform: uppercase;
      display: inline-block;
      position: absolute;
      bottom: 30px;
      left: 180px;
    }

    .hallBtn{
      width: 129px;
      height: 60px;
      color: @color-fonthover;
      background-color: @color-main;
      border-radius: 2px;
      line-height: 60px;
      text-align: center;
      font-size: .65em;
      text-transform: uppercase;
      display: inline-block;
      position: absolute;
      bottom: 30px;
    }

  } //news close

  .footerwrap{
    .emailBtn{
        display: inline-block;
        padding: 14px;
        font-size: .65em;
        width: 129px;
        text-align: center;
        border: 1px @color-white solid;
    }
  }
