@import url("//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css");
@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
/* line 1, assets\less\variable.less */
.main {
  width: 1600px;
  height: 650px;
  background: url(../../image/pic/main.png);
  background-size: cover;
  margin: 0 auto;
}
/* line 8, assets\less\variable.less */
.main .title {
  width: 600px;
  height: 350px;
  border: 1px #f00 solid;
}
/* line 14, assets\less\variable.less */
.main span {
  border: 1px #f00 solid;
  display: block;
  color: #fff;
}
/* line 20, assets\less\variable.less */
.main .Btn span {
  width: 240px;
  height: 60px;
  color: #fff;
  background-color: #000;
  line-height: 51px;
  text-align: center;
  font-size: 20px;
}
/* line 33, assets\less\variable.less */
.news span {
  display: block;
}
/* line 37, assets\less\variable.less */
.news .Btn span {
  width: 240px;
  height: 60px;
  color: #fff;
  background-color: #000;
  line-height: 51px;
  text-align: center;
  font-size: 20px;
}
/* line 16, assets\less\common.less */
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
p {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* line 17, assets\less\common.less */
body {
  font-family: 'Nanum Gothic Coding', monospace;
}
/* line 18, assets\less\common.less */
ul,
ol,
li,
tr,
td {
  list-style: none;
}
/* line 19, assets\less\common.less */
a {
  text-decoration: none;
}
/* line 21, assets\less\common.less */
.wrap {
  width: 100%;
}
/* line 23, assets\less\common.less */
.header {
  height: 100px;
  background: #000;
  border-bottom: 1px #262626 solid;
}
/* line 28, assets\less\common.less */
.header .menuBtn {
  position: relative;
  top: 19px;
  left: 19px;
}
/* line 34, assets\less\common.less */
.header h1 {
  font-family: 'Cinzel', serif;
  color: #999;
  text-transform: uppercase;
  font-weight: lighter;
  display: block;
  width: 124px;
  margin: 0 auto;
  letter-spacing: 0.18em;
}
/* line 43, assets\less\common.less */
.header h1 a {
  color: #fff;
}
/* line 48, assets\less\common.less */
.header .searchBtn {
  float: right;
  position: relative;
  top: -45px;
  right: 19px;
}
/* line 56, assets\less\common.less */
.menu {
  height: 50px;
  background: #000;
}
/* line 59, assets\less\common.less */
.menu ul {
  margin: 0 auto;
  width: 1600px;
  text-align: center;
  line-height: 50px;
}
/* line 64, assets\less\common.less */
.menu ul li {
  display: inline-block;
  margin: 0 80px;
}
/* line 67, assets\less\common.less */
.menu ul li a {
  color: #999;
  font-size: 13px;
}
/* line 75, assets\less\common.less */
.contents {
  height: 650px;
  background-color: #f2f2f2;
}
/* line 80, assets\less\common.less */
.news {
  outline: 1px #f00 solid;
  width: 1600px;
  margin: 0 auto;
}
/* line 85, assets\less\common.less */
.news h1 {
  text-transform: uppercase;
}
/* line 89, assets\less\common.less */
.news .calendar {
  outline: 1px #000 solid;
  width: 1600px;
  height: 340px;
}
/* line 96, assets\less\common.less */
.news .box {
  width: 1600px;
  height: 750px;
  outline: 1px #00F solid;
  margin: 0 auto;
}
/* line 103, assets\less\common.less */
.news .box .topic {
  width: 450px;
  height: 100%;
  background-color: #f78297;
  margin: 0 auto;
  float: left;
}
/* line 110, assets\less\common.less */
.news .box .second {
  margin: 0 125px;
}
/* line 114, assets\less\common.less */
.news .box .img {
  width: 450px;
  height: 450px;
  outline: 1px #f00 solid;
}
/* line 120, assets\less\common.less */
.news .box img {
  width: 100%;
}
