@import url("//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css");
@import url('https://fonts.googleapis.com/css?family=Cinzel');
/* line 2, assets\less\variable.less */
.contents {
  height: 650px;
  background-color: #f2f2f2;
}
/* line 6, assets\less\variable.less */
.contents section {
  width: 1200px;
  height: 650px;
  background: url(../../image/pic/main.png);
  background-size: cover;
  margin: 0 auto;
}
/* line 13, assets\less\variable.less */
.contents section .inform {
  width: 600px;
  height: 350px;
  border: 1px #f00 solid;
}
/* line 19, assets\less\variable.less */
.contents section span {
  border: 1px #f00 solid;
  display: block;
}
/* line 24, assets\less\variable.less */
.contents section .Btn span {
  width: 173px;
  height: 51px;
  color: #fff;
  background-color: #000;
  line-height: 51px;
  text-align: center;
}
/* line 10, assets\less\common.less */
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
p {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* line 11, assets\less\common.less */
body {
  font-family: 'Nanum Gothic Coding', monospace;
}
/* line 12, assets\less\common.less */
ul,
ol,
li,
tr,
td {
  list-style: none;
}
/* line 13, assets\less\common.less */
a {
  text-decoration: none;
}
/* line 15, assets\less\common.less */
.wrap {
  width: 100%;
}
/* line 17, assets\less\common.less */
.header {
  height: 100px;
  background: #000;
  border-bottom: 1px #262626 solid;
}
/* line 22, assets\less\common.less */
.header .menuBtn {
  position: relative;
  top: 19px;
  left: 19px;
}
/* line 28, assets\less\common.less */
.header h1 {
  font-family: 'Cinzel', serif;
  color: #999;
  text-transform: uppercase;
  font-weight: lighter;
  display: block;
  width: 124px;
  margin: 0 auto;
  letter-spacing: 0.18em;
}
/* line 37, assets\less\common.less */
.header h1 a {
  color: #fff;
}
/* line 42, assets\less\common.less */
.header .searchBtn {
  float: right;
  position: relative;
  top: -45px;
  right: 19px;
}
/* line 50, assets\less\common.less */
.menu {
  height: 50px;
  background: #000;
}
/* line 53, assets\less\common.less */
.menu ul {
  margin: 0 auto;
  width: 1200px;
  text-align: center;
  line-height: 50px;
}
/* line 58, assets\less\common.less */
.menu ul li {
  display: inline-block;
  margin: 0 50px;
}
/* line 61, assets\less\common.less */
.menu ul li a {
  color: #999;
  font-size: 13px;
}
