@import url("//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css");
/* line 9, assets\less\common.less */
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
p {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* line 10, assets\less\common.less */
body {
  font-family: 'Nanum Gothic Coding', monospace;
}
/* line 11, assets\less\common.less */
ul,
ol,
li,
tr,
td {
  list-style: none;
}
/* line 12, assets\less\common.less */
a {
  text-decoration: none;
}
/* line 14, assets\less\common.less */
span:nth-child(1) {
  color: #fff;
}
/* line 15, assets\less\common.less */
span:nth-child(2) {
  color: #f00;
}
/* line 16, assets\less\common.less */
.wrap {
  width: 100%;
}
/* line 17, assets\less\common.less */
.header {
  height: 100px;
  background-color: #000;
}
